:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --hr-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    
    --margin-bottom: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 1.8rem;
    background-color: var(--main-bg-color);
    color: var(--white); 
}

.container {
    width: 37.5rem; /* para movil */
    border-radius: 3rem;
    margin: 10rem auto;
    padding: 2.5rem;
    background-color: var(--card-bg-color);
}

.ntf-image {
    width: 100%;
    border-radius: var(--margin-bottom);
    margin-bottom: var(--margin-bottom);
}

.ntf-image:hover {
    cursor: pointer;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.ntf-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: var(--margin-bottom);
}

.ntf-title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.ntf-description {
    
    font-weight: 300;
    margin-bottom: var(--margin-bottom);
    color: var(--soft-blue);
}

.price,
.daysleft {
    margin-left: 1rem;
    display: inline-block;
}

.price {
    color: var(--cyan);
}

.daysleft {
    color: var(--soft-blue);
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-bottom);
}

.price-container div {
    display: flex;
    align-items: center;
}

.separator {
    border: 0.02rem solid var(--hr-color);
    margin-bottom: var(--margin-bottom);
}

.artist-avatar {
    width: 14%;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 1.5rem;
}

.artist-container div {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.artist-container .artist-name span {
    color: var(--soft-blue);
}
