:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --br-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 1.8rem;
    background-color: var(--main-bg-color);
    color: var(--white); /* temporal */
}

.container {
    /* width: 37.5rem; no se si lo ocupa aun */
    border-radius: 3rem;
    margin: 5rem auto;
    padding: 2.5rem;
    background-color: var(--card-bg-color);
}

.ntf-image {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

